<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>cakes</title>
	<link rel="stylesheet" type="text/css" href="static/css/food.css">
	
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="home" class="w3-bar-item w3-button">home</a>
    <a href="post_home" class="w3-bar-item w3-button">Add fod</a>
  </div>
</div>

<div class="card">
  {% for tweet3 in tweet12 %}
  <div class="card-image"><img src="{{ tweet12[tweet3]['image4'] }}"></div>
  <div class="card-text">
    
    <h2>{{ tweet12[tweet3]['Title4'] }} </h2>
    <p>{{ tweet12[tweet3]['Text4'] }}</p>
  </div>
  {% endfor %}
  </div>



</script>
</body>
</html>