<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>post cakes</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	



    <span class="avatar"><img src="static/Tha good chefmode.png" alt="" /></span>

    <form method="post" action="/post_cakes">
        <div class="form-box">
            <div class="header-text">
                <h4>add cakes </h4>
            </div>
            <input placeholder="title" type="Title4"  name="Title4" id="Title4" required>
            <input placeholder="a description" type="Text4" name="Text4" id="Text4" required >
            <input placeholder="Add the image link" type="Text4"  name="image4" >
            <button>submit</button>
            

        </div>
    </form>
    <br>

</body>
</html>