<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>post food</title>
</head>
<body>
	
	<form method="post" action="/post_food">

    <div>
        <label>Title</label>
        <div>
            <input type="Title"  name="Title" id="Title" required>
        </div>
    </div>
    <div>
        <label>Text</label>
        <div>
            <input type="Text" name="Text" id="Text" required >
        </div>
    </div>
    <div>
    	<input type="Text"  name="image" >
    </div>
    <div>
            <input type="submit"/>
        </div>
    </form>

</body>
</html>