<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="sigin\up.js"></script>
</head>
<body>
    <span class="avatar"><img src="static/Tha good chefmode.png" alt="" /></span>

    <form method="post" action="/">
        <div class="form-box">
            <div class="header-text">
                <h4>Login </h4>
            </div>
            <input placeholder="Email address" type="email"  name="email" id="emailStr" required>
            <input placeholder="Password" type="password"  name="password" minlength="6">
            <button>login</button>
            <span>If you do not have an account <a href="/signup">signup</a></span>

        </div>
    </form>
    <br>
    







         
</body>
</html>